<!DOCTYPE html>
<html lang="en">
  <title>Wordle Solver</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap" rel="stylesheet">
  <head>
    <link rel="stylesheet" href={{ url_for('static', filename='style.css') }}>
  </head>
  <body>
    <form class="my-form" method = "POST" autocomplete="off">
      <div class="container">
        <h1>Wordle Solver</h1>
        <ul>
          <li>
            <div class="grid grid-2">
              <input type="text" placeholder="Letters Present (Yellow)" name="letters_present" value="{{data.letters_present}}" pattern="[A-Za-z]*" title="Must contain only alphabets">
              <input type="text" placeholder="Letters Not Present (Gray)" name="letters_absent" required value="{{data.letters_absent}}" pattern="[A-Za-z]*" title="Must contain only alphabets">
            </div>
          </li>
          <li>
            <div class="grid">
              <input type="text" placeholder="Known Letters' Position (Green)" name="regex" value="{{data.regex}}" pattern="[A-Za-z_\-]{5}" title="Must be 5 characters long and not contain digits">
            </div>
            <p class = "note">
              Use '_' or '-' for blanks, example- 'M_SI_'
            </p>
          </li>
          <li>
            <div class="grid grid">
              <button class="btn-grid" type="submit">
                GUESS!
              </button>
            </div>
          </li>
          <li>
              <p>{{data.message}}</p>
              <div class = guesses>
                <ul>
                  {% for word in data.words %}
                  <li>{{word}}</li>
                  {% endfor %}
                </ul>
              </div>
          </li>  
        </ul>
      </div>
    </form>

    <footer>
      <div class="container">
        <small>
          Made by <a href="https://github.com/abhinavsaxena99" target="_blank">Abhinav Saxena</a>
        </small>
      </div>
    </footer>
  </body>
</html>