<!DOCTYPE html>
<html lang="en">
  <title>Wordle Solver</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap" rel="stylesheet">
  <head>
    <link rel="stylesheet" href={{ url_for('static', filename='style.css') }}>
  </head>
  <body>
    <form class="my-form" method = "POST">
      <div class="container">
        <h1>Wordle Sovler</h1>
        <ul>
          <li>
            <div class="grid grid-2">
              <input type="text" placeholder="Letters Present (Yellow)" name="letters_present">
              <input type="text" placeholder="Letters Not Present (Gray)" name="letters_absent">
            </div>
          </li>
          <li>
            <div class="grid">
              <input type="text" placeholder="Known Letters' Position (Green)" name="regex">
            </div>
            <p class = "note">
              Use '_' or '-' for blank, example- 'M_SI_'
            </p>
          </li>
          <li>
            <div class="grid grid">
              <button class="btn-grid" type="submit">
                GUESS!
              </button>
            </div>
          </li>
          <li>
              <p>Top 5 guesses</p>
              <div class = guesses>
                <ul>
                  {% if data%}
                    {% for item in data %}
                    <li>{{item}}</li>
                    {% endfor %}
                  {%else%}
                    <li>&nbsp;</li>
                    <li>&nbsp;</li>
                    <li>&nbsp;</li>
                    <li>&nbsp;</li>
                    <li>&nbsp;</li>
                  {%endif%}
                </ul>
              </div>
          </li>  
        </ul>
      </div>
    </form>

    <footer>
      <div class="container">
        <small>
          Made by <a href="https://github.com/abhinavsaxena99" target="_blank">Abhinav Saxena</a>
        </small>
      </div>
    </footer>
  </body>
</html>